.UserInfo {
  $w: 100px;
  $details_w: 80px;

  z-index: 300;
  position: absolute;
  top: 0;
  left: -15px;
  width: $w;
  height: $w;

  &__details {
    position: relative;
    width: $details_w;
  }

  &__name {
    padding: 10px 0 3px 15px;
    font-size: 15px;
    line-height: 1em;
    font-family: "VAGRound";
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
  }

  &__avatar {
    $w: 80px;

    width: $w;
    height: $w;
    border-radius: $w;
    border: 3px solid #fff;
    overflow: hidden;
  }

}
