.UserCoins {
  margin: 10px 0 0 50px;

  &__coin {
    $w: 30px;

    float: left;
    width: $w;
    height: $w;
    margin: 0 5px;
    background: url("/images/vectors/icon_coin.svg") center center no-repeat;
    background-size: cover;
  }

  &__balance {
    float: left;
    font-family: "VAGRound";
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
}
