body {
  background: #e9eef0;
  box-sizing: border-box;
}

#MainContainer {
  @include outer-container;
  $p: 20px;

  min-width: 1024px - $p*2; // 1024 - 10
  max-width: 1280px - $p*2; // 1280 - 20
  padding: 0 $p;

  background: #dce3ea;
}

.MainHeader {
  padding: 15px;
}

.MainBody {
  @include fill-parent();
  @include row(table);

  height: $body_h;
}

.MainContent {
  @include span-columns(9);

  background: #333;
}

.MainSidebar {
  @include span-columns(3);
  @include reset-display;

  position: relative;
}
