.UserImage {
  $avatar_w: 90px;

  position: relative;
  width: $avatar_w;
  height: $avatar_w;

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;

    width: $avatar_w;
    height: $avatar_w;
    border-radius: $avatar_w;
    border: 5px solid #fff;
    overflow: hidden;

    background: #7cd0b4;

    img {
      width: 100%;
    }
  }

}
