.UserBalance {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 5px 0 0 20px;
  color: rgba(255,255,255,0.4);

  transition: color 400ms ease-out;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

.UserBalance__currency {
  $w: 30px;

  position: absolute;
  top: 0;
  left: $w/-2;
  width: $w;
  height: $w;
  border-radius: $w;
  background: $body_bg;
}

.UserBalance__chips {
  $w: 25px;

  width: $w;
  height: $w;
  margin: 2px;
  background: url("/images/vectors/icon_chip.svg") center center no-repeat;
  background-size: cover;
}


.UserBalance__title {
  margin: 0 0 3px 0;
  font-family: "VAGRound";
  font-weight: bold;
  font-size: 18px;
  line-height: 1em;
}

.UserBalance__label {
  font-size: 13px;
  line-height: 1em;
  font-style: italic;
}
